<div class="container is-fluid" style="margin-top: 20px;">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{advertise?.Title}}
      </p>
    </header>
    <div class="card-image">
      <div class="container">
        <div class="holder" *ngFor="let pic of advertise?.Pictures" >
          <img [src]="pic.ImageData">
        </div>
      </div>
    </div>
    <br><br>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6"><strong>Rent:</strong>{{advertise?.Rent}}</p>
          <p class="subtitle is-6"><strong>Phone:</strong> {{user?.PhoneNo}}</p>
          <p class="subtitle is-6"><strong>Adress:</strong> {{advertise?.Address}}</p>
        </div>
      </div>

      <div class="content columns">
        <div class="column is-two-thirds">
          Electriucity Bill is {{advertise?.IsElectrickBillIncluded ? 'included.' : 'excluded.'}}
          <br>{{advertise?.Description}}
        </div>
        <div class="column">
          <div class="content">
            <ol type="1">
              <li>
                <strong>No. of Beds: </strong> {{advertise?.NoOfBed}}
              </li>
              <li>
                <strong>No. of Baths: </strong> {{advertise?.NoOfBath}}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <article *ngFor="let comment of advertise?.Comments" class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{comment.User?.Name}}</strong>
              <br>
              {{comment.CommentText}}
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea [(ngModel)]="commentText" name="commentText" class="textarea"
                placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a (click)="postComment()" class="button is-info">Submit</a>
              </div>
            </div>
          </nav>
        </div>
      </article>
      <br>
    </div>

  </div>
</div>