<nav class="navbar is-fixed-top is-primary navbar-style" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="[ '' ]">
            <img src="../../../favicon.ico">
            <span style="display: inline-block; width: 5px"></span>
            <strong>To-Let</strong>
        </a>

        <a class="navbar-burger burger" data-target="hamMenue" (click)="navHamburgerIsActive = !navHamburgerIsActive"
            [ngClass]="{'is-active': navHamburgerIsActive}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="hamMenue" [ngClass]="{'is-active': navHamburgerIsActive}">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="[ '/all-ad' ]">All Advertise</a>
            <!-- <a class="navbar-item" [routerLink]="[ '/contact-us' ]">Contact Us</a> -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Post Your Ad</a>

                <div class="navbar-dropdown">
                    <a *ngFor="let cat of adCats" [routerLink]="[ '/create', cat.Id ]" class="navbar-item">
                        <span class="icon is-small">
                            <i class="{{cat.IconName}}"></i>
                        </span>
                        &nbsp; &nbsp; Post {{cat.Category}} Ad
                    </a>
                </div>

            </div>
        </div>

        <div class="navbar-end">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Areas</a>
                <div class="navbar-dropdown is-right" style="max-height: 300px; overflow: auto">
                    <a *ngFor="let area of areas.dhaka" [routerLink]="[ '/all-ad']" [queryParams]="{search: area}" class="navbar-item">
                        {{area}}
                    </a>
                </div>
            </div>

            <div class="navbar-item">
                <p class="control has-icons-left">
                    <input (keyup)="onSearch($event)" [(ngModel)]="searchText" class="input" type="text"
                        placeholder="search">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>

            <a *ngIf="isLoggedIn()" [routerLink]="[ '/my-account' ]" class="navbar-item">My Account</a>
            <a *ngIf="isLoggedIn()" (click)="logout()" class="navbar-item">Logout</a>

            <div *ngIf="!isLoggedIn()" class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Login</a>
                <div class="navbar-dropdown is-right">
                    <app-login></app-login>
                </div>
            </div>
            <div *ngIf="!isLoggedIn()" class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Register</a>
                <div class="navbar-dropdown is-right">
                    <app-sign-up></app-sign-up>
                </div>
            </div>
        </div>
    </div>
</nav>