<form ngNativeValidate #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)" class="panel"
  style="padding: 15px; min-width: 300px">

  <p class="panel-heading">Please sign up</p>

  <div *ngIf="errorList.length" class="panel-block" style="color: red">
    <ul>
      <li *ngFor="let error of errorList">{{error}}</li>
    </ul>
  </div>

  <div class="panel-block">
      <div class="field">
          <label for="email" class="label">Email address</label>
          <input ngModel name="email" required type="email" id="email" class="input" placeholder="Email address"
            autofocus>
        </div>
  </div>
  <div class="panel-block">
      <div class="field">
          <label for="password" class="label">Password</label>
          <input ngModel name="password" required type="password" id="password" class="input" placeholder="Password">
        </div>
  </div>
  <div class="panel-block">
      <div class="field">
          <label for="confirmPassword" class="label">Confirm Password</label>
          <input ngModel name="confirmPassword" required type="password" id="confirmPassword" class="input"
            placeholder="Confirm Password" required>
        </div>
  </div>
  <div class="panel-block">
      <button class="button is-link" type="submit">Sign Up</button>
  </div>
</form>