<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" ngNativeValidate class="panel" style="padding: 15px; min-width: 300px;">
    <p class="panel-heading">Please sign in</p>

    <div *ngIf="serverError" class="panel-block" style="color: red">
        {{serverError}}
    </div>

    <div class="panel-block">
        <div class="field">
            <label for="email" class="label">Email Address</label>
            <div class="control">
                <input class="input" ngModel required name="email" type="email" id="email" placeholder="Email address"
                    required autofocus>
            </div>
        </div>
    </div>

    <div class="panel-block">
        <div class="field">
            <label for="password" class="label">Password</label>
            <input ngModel required name="password" type="password" id="password" class="input" placeholder="Password"
                required>
        </div>
    </div>
    <div class="panel-block">
        <button class="button is-primary" type="submit">Sign in</button>
    </div>
</form>