.stat-val {
	font-size: 3em;
	padding-top: 20px;
	font-weight: bold;
}

.stat-key {
	font-size: 1.4em;
	font-weight: 200
}

.section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
	border-left: 1px dotted rgba(0, 0, 0, .2);
}

.container.profile {
	margin-top: 1%;
}

.control.is-pulled-left span.select {
	margin-right: 5px;
	border-radius: 2px;
}

.modal-card .content h1 {
	padding: 40px 10px 10px;
	border-bottom: 1px solid #dadada
}

.container.profile .profile-options .tabs ul li.link a {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #F1F1F1;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }