<div class='columns'>
  <div class='container profile'>
    <form #formData="ngForm" (ngSubmit)="editProfile(formData.value)" ngNativeValidate>
      <div class='modal' [ngClass]="{'is-active': isModalActive}">
        <div class='modal-background' (click)="isModalActive = false"></div>
        <div class='modal-card'>
          <header class='modal-card-head'>
            <p class='modal-card-title'>Edit Profile</p>
            <button class='delete' (click)="isModalActive = false"></button>
          </header>
          <section class='modal-card-body'>
            <label class='label'>Name</label>
            <p class='control'>
              <input [(ngModel)]="Name" name="Name" value="{{user?.Name}}" class='input' placeholder='Text input' type='text'>
            </p>
            <label class='label'>Email</label>
            <p class='control'>
              <input disabled [(ngModel)]="Email" name="Email" value="{{user?.Email}}" class='input' placeholder='Text input' type='text'>
            </p>
            <label class='label'>ShortBio</label>
            <p class='control'>
              <input [(ngModel)]="ShortBio" name="ShortBio" value="{{user?.ShortBio}}" class='input' placeholder='Text input' type='text'>
            </p>
            <label class='label'>PhoneNo</label>
            <p class='control'>
              <input [(ngModel)]="PhoneNo" name="PhoneNo" value="{{user?.PhoneNo}}" class='input' placeholder='Text input' type='text'>
            </p>
            <label class='label'>Address</label>
            <p class='control'>
              <input [(ngModel)]="Address" name="Address" value="{{user?.Address}}" class='input' placeholder='Text input' type='text'>
            </p>            
          </section>
          <footer class='modal-card-foot'>
            <button type="submit" class='button is-primary modal-save'>Save changes</button>
            <a class='button modal-cancel' (click)="isModalActive = false">Cancel</a>
          </footer>
        </div>
      </div>
    </form>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-2'>
          <span class='header-icon user-profile-image'>
            <img alt='' src='http://placehold.it/300x225'>
          </span>
        </div>
        <div class='column is-4-tablet is-10-mobile name'>
          <p>
            <span class='title is-bold'>{{user?.Name}}</span>
            <br>
            <button class='button is-primary is-outlined' (click)="isModalActive = true" style='margin: 5px 0'>
              Edit Profile
            </button>
            <br>
          </p>
          <p class='tagline'>
            {{user?.ShortBio}}
          </p>
          <p class='tagline'>
            {{user?.Address}}
          </p>
          <p class='tagline'>
            {{user?.PhoneNo}}
          </p>
        </div>
        <div class='column is-2-tablet is-4-mobile has-text-centered'>
          <p class='stat-val'>{{user?.Advertises?.length}}</p>
          <p class='stat-key'>Advertises</p>
        </div>
        <div class='column is-2-tablet is-4-mobile has-text-centered'>
          <p class='stat-val'>{{unApproved}}</p>
          <p class='stat-key'>Unapproved</p>
        </div>
      </div>
    </div>
    <div class='profile-options is-fullwidth'>
      <div class='tabs is-fullwidth is-medium'>
        <ul>
          <li class='link'>
            <a>
              <span class='icon'>
                <i class='fa fa-building'></i>
              </span>
              <span>Advertises</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <br>
    <div class="row">
      <div *ngFor="let ad of user?.Advertises" class='column is-3-tablet is-6-mobile'>
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img alt='Image Currupted.' [src]="ad.Pictures[0]?.ImageData">
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <a [routerLink]="[ '/advertise-details', ad.Id ]"><span
                  class='is-dark is-link is-primary subtitle'>{{ad.Title}}</span></a>
              <p>{{ad.Description.substring(0,20)}}</p>
            </div>
          </div>
          <footer class='card-footer'>
            <a class='card-footer-item' (click)="deleteAd(ad)">Delete</a>
          </footer>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>