<div class="card" style="min-width: 320px !important;">
  <div class="card-header text-center">
      <strong>{{advertise.PropertyName}}</strong>
  </div>
  <div class="card-body" style="padding:0;">
      <img style="height: auto; width: 100%" src="http://demo.joomshaper.com/2016/empire/images/demo/featured-property/featured-property06.jpg" />
  </div>
  <div class="card-footer">
      <div class="">
          <i class="fas fa-tags"></i>
          {{advertise.PropertyType.Type}}, {{advertise.PropertyCategory.Category}}
      </div>
      <div class=""><strong>BDT {{advertise.Price}}</strong></div>
      <div class="text-center" style="font-size:14pt">
          <span class="badge badge-primary">{{advertise.Size}} Sqft</span>
          <span class="badge badge-primary">{{advertise.Beds}} Bedrooms</span>
          <span class="badge badge-primary">{{advertise.Baths}} Baths</span>
          <span class="badge badge-primary">{{advertise.Parkings}} Parking</span>
      </div>
      <a routerLink="/advertise-details/{{advertise.Id}}" class="btn btn-success float-right" style="margin-top: 10px">More Info</a>
  </div>
</div>
<br /><br />