<div class="container home-container">

    <h1 class="title">To-Let Category</h1>
    <div class="container">
        <a *ngFor="let category of categories" class="button is-large is-light category-button"
            [routerLink]="[ '/all-ad' ]" [queryParams]="{ category: category.Id}">
            <span class="icon is-medium">
                <i class="{{category.IconName}}"></i>
            </span>
            <span>{{category.Category}}</span>
        </a>
    </div>

    <h1 class="title" style="margin-top: 20px">Recent Ads</h1>
    <div class="container-fluid">
        <div *ngFor="let ad of allAds" class="box level">
            <div class="level-left">
                <div class="level-item">
                    <p class="image is-64x64">
                        <img [src]="ad.Pictures[0]?.ImageData">
                    </p>
                </div>
                <div class="level-item">
                    <p>
                        <strong><a [routerLink]="[ '/advertise-details', ad.Id ]">{{ad.Title}}</a></strong>
                        <br>
                        {{ad.Description.substring(0, 80)}}
                    </p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="box is-fullheight has-background-grey-lighter">
                        {{ad.PostingDate | date}}
                    </div>
                </div>
                <div class="level-item">
                    <div class="box has-background-grey-light">
                        <span *ngIf="ad.Rent > 0">{{ad.Rent}}</span>
                        <span *ngIf="ad.Rent <= 0">Negotiable</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container is-fluid">
            <!-- Progressbar -->
            <progress class="progress is-small is-primary" max="100"></progress>


            <!-- Pagination -->
            <!-- <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
            </nav> -->
        </div>
    </div>
</div>