.container{
    margin-top: 20px;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    /* -webkit-transform: rotate(15deg);
    transform: rotate(15deg); */
}