<div class="container">
  <div class="columns">
    <div class="column is-12">
      <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="../">Bulma</a></li>
          <li><a href="../">Templates</a></li>
          <li><a href="../">Examples</a></li>
          <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
        </ul>
      </nav>
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, Admin.
            </h1>
            <h2 class="subtitle">
              I hope you are having a great day!
            </h2>
          </div>
        </div>
      </section> -->
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{allUsers.length}}</p>
              <p class="subtitle">Users</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{allAds.length}}</p>
              <p class="subtitle">Ads</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{pendingComments.length}}</p>
              <p class="subtitle">Pending Comments</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{allComments.length}}</p>
              <p class="subtitle">Comments</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="subtitle">Auto Approve</p>
              <label class="checkbox">
                <input type="checkbox" [checked]="allSettings[0]?.SettingValue"
                (change)="changeSetting(allSettings[0].Id)">
                All Ads
              </label>
              <label class="checkbox">
                <input type="checkbox"[checked]="allSettings[1]?.SettingValue"
                (change)="changeSetting(allSettings[1].Id)">
                All Comments
              </label>
            </article>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-6">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Ads
              </p>
              <a class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr *ngFor="let ad of allAds">
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>
                        <a [routerLink]="[ '/advertise-details', ad.Id ]">{{ad.Title}}</a>
                      </td>
                      <td><a class="button is-small is-primary" (click)="deleteAd(ad)">Delete</a></td>
                      <td *ngIf="!ad.IsApproved"><a class="button is-small is-primary" (click)="approveAd(ad.Id)">Approve</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Pending Comments
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <tr *ngFor="let comment of pendingComments">
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>{{comment.CommentText}}</td>
                      <td><a class="button is-small is-primary" (click)="approveComment(comment.Id)">Approve</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>