body {
  background-color: #f2f4f7;
  color: #000000;
}
a {
  color: #8cc641;
}
a:hover {
  color: #71a331;
}
#offcanvas-toggler >i:hover {
  color: #8cc641;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #7cb336;
  background-color: #8cc641;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #648f2b;
  background-color: #71a331;
}
ul.social-icons >li a:hover {
  color: #8cc641;
}
.sp-page-title {
  background: #8cc641;
}
.layout-boxed .body-innerwrapper {
  background: #f2f4f7;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #8cc641;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #8cc641;
}
.sp-module .tagscloud .tag-name:hover {
  background: #8cc641;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #8cc641;
}
.search .btn-toolbar button {
  background: #8cc641;
}
.post-format {
  background: #8cc641;
}
.voting-symbol span.star.active:before {
  color: #8cc641;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #71a331;
}
.entry-link,
.entry-quote {
  background: #8cc641;
}
blockquote {
  border-color: #8cc641;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #8cc641;
}
.sp-comingsoon body {
  background-color: #8cc641;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #8cc641;
  background-color: #8cc641;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #8cc641;
  background-color: #8cc641;
}
#sp-bottom .sp-module .sp-module-title,
.sp-module .bottom-contact p a {
  color: #000000;
}
.sp-contact-info:before,
.spproperty .sp-properties-wrapper .property-details .property-price,
#sp-page-builder .empire-property-search .sp-property-search .property-advance-search a i,
#sp-page-builder .empire-property-search .sp-property-search .property-advance-search a:hover span,
#sp-page-builder .empire-property-search .sp-property-search .property-advance-search a:focus span,
#sp-page-builder .empire-property-search .sp-property-search .property-advance-search a:active span,
.spproperty .sp-properties-wrapper .property-details .property-title a:hover,
.spproperty .sp-properties-wrapper .property-details .property-title a:focus,
.spproperty .sp-properties-wrapper .property-details .property-title a:active,
.sp-module.property-search .property-advance-search a i,
.sp-module.property-search .property-advance-search a:hover span,
.sp-module.property-search .property-advance-search a:focus span,
.sp-module.property-search .property-advance-search a:active span,
.spproperty-view-properties.spproperty .spproperty-listing-url li.active a,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:hover,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:focus,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:active,
#spproperty-slider.owl-carousel .owl-nav div,
.spproperty-call-us-widget h3 span,
.spproperty-feature-overview .spproperty-feature-overview-list li .spproperty-feature-overview-signle-list i,
.spproperty-map-widget .spproperty-map-widget-content span,
.spproperty-agent-widget h3 a span,
.spproperty-agent-widget ul.spproperty-agent-mailing li i,
.spproperty-agent-widget ul.spproperty-agent-mailing li a:hover,
.spproperty-contact-us-widget h3 span,
.about-top-wrapper section.sppb-section .sppb-addon-animated-number .sppb-animated-number,
.about-top-wrapper section.sppb-section .sppb-addon-animated-number.empire-happy-clients-counter .sppb-animated-number:after,
.pagination-wraper .pagination li a i,
article.item .entry-header h2 a:hover,
article.item .entry-header h2 a:focus,
article.item .entry-header h2 a:active,
article.item p.readmore a:hover,
article.item p.readmore a:focus,
article.item p.readmore a:active,
div[itemprop="articleBody"] blockquote,
article.item.item-page .pager.pagenav li a:hover,
article.item.item-page .pager.pagenav li a:focus,
article.item.item-page .pager.pagenav li a:active,
.sp-comingsoon .social-icons li a:hover,
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li:hover > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a,
.sppb-addon-accordion .sppb-panel.sppb-panel-info .sppb-panel-heading.active .sppb-panel-title {
  color: #8cc641;
}
.sp-contact-info li.sp-contact-phone a,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap h3 a:hover,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap h3 a:focus,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap h3 a:active,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:hover,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:focus,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:active {
  color: #71a331;
}
.spproperty .sp-properties-wrapper.property-status-sold .spproperty-badge-sold,
#sp-page-builder .empire-property-search::before,
#sp-page-builder .sppb-section.empire-newsletter:before,
.offcanvas-menu,
.sp-megamenu-parent > li > a:after {
  background-color: #8cc641;
}
.sppb-section.empire-feature::after {
  background: rgba(140,198,65,0.9);
}
.sppb-addon.sppb-addon-feature .sppb-addon-content .sppb-icon,
.sp-module.property-search::before,
.spproperty-view-properties.spproperty .spproperty-listing-url li.active a::before,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:hover::before,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:focus::before,
.spproperty-view-properties.spproperty .spproperty-listing-url li a:active::before,
#spproperty-slider.owl-carousel .owl-nav div:hover,
.spproperty-details-title .spproperty-details-icon,
.spproperty-call-us-widget a.btn.btn-primary,
.spproperty-short-overview .spproperty-overview-list .spproperty-single-list span,
.spproperty-map-widget .spproperty-map p,
.spproperty-floor-plan .spproperty-floor-plan-tab .spproperty-floor-tab-nav li a::after,
.spproperty.spproperty-view-agent .agent-contact-from:before,
.sppb-testimonial-pro .sppb-carousel-control:hover,
.pagination-wraper .pagination li a i:hover,
.pagination-wraper .pagination li a i:focus,
.pagination-wraper .pagination li a i:active,
.pagination-wraper .pagination li.active a:after,
article.item p.readmore a:hover:after,
article.item p.readmore a:focus:after,
article.item p.readmore a:active:after,
#sp-footer,
.sp-comingsoon .days,
.sp-comingsoon .minutes,
.sp-comingsoon .seconds,
.sp-comingsoon .hours,
.sppb-person-social-icons ul li a:hover {
  background: #8cc641;
}
article.item.item-page .helix-social-share ul li a:hover {
  background: #8cc641 !important;
}
.sppb-addon.sppb-addon-persion .sppb-addon-content .sppb-person-image::before {
  background: rgba(140,198,65,0.8);
}
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:hover,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:focus,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:active {
  border-color: #71a331;
}
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:hover:after,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:focus:after,
.sppb-addon-articles .sppb-addon-article .sppb-article-text-wrap .sppb-readmore:active:after,
.spproperty-call-us-widget a.btn.btn-primary:hover,
.spproperty-call-us-widget a.btn.btn-primary:focus,
.spproperty-call-us-widget a.btn.btn-primary:active {
  background: #71a331;
}
#sp-page-builder .empire-lets-talk .sppb-addon-ajax-contact .sppb-ajaxt-contact-form .sppb-form-group input:focus,
#sp-page-builder .empire-lets-talk .sppb-addon-ajax-contact .sppb-ajaxt-contact-form .sppb-form-group textarea:focus,
#sp-page-builder .sppb-section.empire-newsletter .acymailing_module_form .acymailing_form input.inputbox:focus {
  border-color: #8cc641;
}
#sp-footer ul.menu li a:hover,
#sp-footer ul.menu li a:focus,
#sp-footer ul.menu li a:active {
  color: #71a331;
}
