<div class="container is-fluid" style="margin-top: 20px;">
  <form #saveForm="ngForm" (ngSubmit)="save(saveForm.value)" ngNativeValidate>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Title/Heading</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" ngModel name="Title" type="text" placeholder="e.g. White House">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Address</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input ngModel name="Address" class="input" type="text" placeholder="e.g. White House Address">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Rent</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input ngModel name="Rent" class="input" type="text" placeholder="e.g. 10000">
          </div>
          <p class="help">
            Enter rent amount or enter 0 to show "Negotiable".
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Size</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input ngModel name="Size" class="input" type="text" placeholder="e.g. 1200">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">No. Of Bed</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input ngModel name="NoOfBed" class="input" type="text" placeholder="e.g. 3">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">No. Of Bath</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input ngModel name="NoOfBath" class="input" type="text" placeholder="e.g. 4">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Description</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea ngModel name="Description" class="textarea" type="text"
              placeholder="e.g. Short Description"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Image</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="file" multiple (change)="getBase64($event)">
          </div>
        </div>
      </div>
    </div>

    <!-- Residential Info... -->

    <div *ngIf="currentType?.Id == 1">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Drawing Room?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasDrawingRoom" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasDrawingRoom" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Dining Room?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasDiningRoom" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasDiningRoom" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Car Parking?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasCarParking" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasCarParking" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Lift?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasLift" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasLift" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Gas?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasGas" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasGas" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Generator?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" ngModel name="HasGenerator" value="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" checked ngModel name="HasGenerator" value="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Electric Bill?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" checked ngModel name="IsElectricityBillIncuded" value="false">
                Excluding
              </label>
              <label class="radio">
                <input type="radio" ngModel name="IsElectricityBillIncuded" value="true">
                Including
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Category</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" checked>
                Family House
              </label>
              <label class="checkbox">
                <input type="checkbox" checked>
                Bachelor Mess
              </label>
              <label class="checkbox">
                <input type="checkbox" checked>
                Female Mess
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!-- Residential Info ends... -->

    <!-- Industrial Info... -->

    <div *ngIf="currentType?.Id == 2">

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Category</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" checked>
                Factory
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!-- Industrial Info ends... -->

    <!-- Commercial Info... -->

    <div *ngIf="currentType?.Id == 3">

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Category</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" checked>
                Office
              </label>
              <label class="checkbox">
                <input type="checkbox" checked>
                Warehouse
              </label>
              <label class="checkbox">
                <input type="checkbox" checked>
                Others
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <!-- Commertial Info ends... -->

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>