<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"><ShortName>Shaper Empire</ShortName><Description></Description><InputEncoding>UTF-8</InputEncoding><Url type="application/opensearchdescription+xml" rel="self" template="http://demo.joomshaper.com/2016/empire/index.php/component/search/?Itemid=259&amp;format=opensearch"/><Url type="text/html" template="http://demo.joomshaper.com/2016/empire/index.php?option=com_search&amp;searchword={searchTerms}&amp;Itemid=255"/></OpenSearchDescription>
