<br><br>
<div class="container">
  <div class="container-fluid">

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Rent From</p>
          <input [(ngModel)]="rentFrom" (ngModelChange)="searchTermChanged($event)" class="input" type="number"
            value="0">
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Rent To</p>
          <input [(ngModel)]="rentTo" (ngModelChange)="searchTermChanged($event)" class="input" type="number" value="0">
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Category</p>
          <select [(ngModel)]="categoryId" (ngModelChange)="searchTermChanged($event)" class="input">
            <option value="0">
              All Ad
            </option>
            <option *ngFor="let category of allCategory" value="{{category.Id}}">
              {{category.Category}}
            </option>
          </select>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">No. Of Bed</p>
          <input [(ngModel)]="noOfBed" (ngModelChange)="searchTermChanged($event)" class="input" type="number"
            value="0">
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Area</p>
          <!-- <input [(ngModel)]="noOfBath" (ngModelChange)="searchTermChanged($event)" class="input" type="number"
            value="0"> -->
          <select [(ngModel)]="area" (ngModelChange)="searchTermChanged($event)" class="input">
            <option value="allarea">
              All area
            </option>
            <option *ngFor="let area of areas.dhaka" value="{{area}}">
              {{area}}
            </option>
          </select>
        </div>
      </div>
    </nav>

    <div *ngFor="let ad of allAds" class="box level">
      <div class="level-left">
        <div class="level-item">
          <p class="image is-64x64">
            <img [src]="ad.Pictures[0]?.ImageData">
          </p>
        </div>
        <div class="level-item">
          <p>
            <strong><a [routerLink]="[ '/advertise-details', ad.Id ]">{{ad.Title}}</a></strong>
            <br>
            {{ad.Description.substring(0, 80)}}
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="box is-fullheight has-background-grey-lighter">
            {{ad.PostingDate | date}}
          </div>
        </div>
        <div class="level-item">
          <div class="box has-background-grey-light">
            <span *ngIf="ad.Rent > 0">{{ad.Rent}}</span>
            <span *ngIf="ad.Rent <= 0">Negotiable</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>